* {
  margin: 0;
  padding: 0;
}

.signup__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  animation: fade-in 3s forwards;
  font-family: 'Space Mono';
  line-height: 2.5;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  z-index: 1000;
}

.signup__left-title,
.signup__right-title {
  font-family: 'neon';
  font-size: 4.3rem;
  z-index: 9999;
  position: absolute;
  /* text-orientation: sideways; */
  /* writing-mode: vertical-lr; */
  text-align: center;
  color: white;
  letter-spacing: 20px;
}

.signup__left-title {
  top: 2%;
  left: 1%;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #FDDA0D, 0 0 40px #FDDA0D,
  0 0 0 #FDDA0D, 0 0 44px #FDDA0D, 0 0 75px #eac806;
  animation: signup__left-neon 6s infinite;
  animation-delay: 2s;
}

.signup__right-title {
  bottom: 2%;
  right: 1%;
  /* transform: scale(-1, 1); */
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #7F00FF, 0 0 40px #7F00FF,
  0 0 0 #7F00FF, 0 0 44px #7F00FF, 0 0 75px #6800d0;
  animation: signup__right-neon 6s infinite;
  animation-delay: 4s;
}

.signup__form h1 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 3%;
}

.signup__form h1::before {
  position: absolute;
  content: '';
  bottom: -10px;
  width: 50%;
  height: 10%;
  background: #FDDA0D;
}

.headers__container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.input__container {
  width: 60%;
  margin-top: 4%;
}

.signup__form input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: 'Space Mono';
}

.signup__form input::placeholder {
  color: white;
}

.signup_btn {
  margin-top: 4%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.signup__question {
  margin-top: 8%;
}

.signup__link {
  color: #7F00FF;
}

.signup__link:hover {
  color: rgb(237, 147, 255);
  text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
    0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
}

/* blue is CUBE, purple is BLUR */
.yellow {
  position: relative;
}

.purple {
  position: absolute;
  z-index: -500;
  filter: blur(10px);
}

.yellow,
.pink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  max-width: 50vw;
  height: 50vh;
  /* max-height: 50vh; */
  border-radius: 20px;
  overflow: hidden;
}

.yellow::before,
.purple::before {
  position: absolute;
  content: '';
  height: 200%;
  width: 140%;
  background: linear-gradient(#FDDA0D 20%, #7F00FF  80%);
  animation: glowing 6s infinite linear;
}

.yellow::after {
  position: absolute;
  background: #000;
  content: '';
  border-radius: 18px;
  inset: 4px;
}

/* @keyframes glowing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes signup__left-neon {
  0%,
  45%,
  55%,
  68%,
  100% {
    text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #FDDA0D, 0 0 40px #FDDA0D,
    0 0 0 #FDDA0D, 0 0 44px #FDDA0D, 0 0 75px #eac806;
  }

  50%,
  60% {
    text-shadow: none;
  }
}

@keyframes signup__right-neon {
  0%,
  45%,
  55%,
  68%,
  100% {
    text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #7F00FF, 0 0 40px #7F00FF,
    0 0 0 #7F00FF, 0 0 44px #7F00FF, 0 0 75px #6800d0;
  }

  50%,
  60% {
    text-shadow: none;
  }
}