.prompt__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.game__prompt {
  display: block;
  background-color: hotpink;
  width: 100vh;
  height: 60vh;
  overflow: hidden;
  margin-bottom: 20px;
}