.word {
  display: inline-block;
  margin-inline: 8px;
  font-size: 35px;
}



.correct {
  color: lime
}

.incorrect {
  color: red
}

.highlighted {
  height: 5%;
  border-radius: 25px;
  background-color: darkgrey;
  
}