.word {
  display: inline-block;
  margin-inline: 8px;
  font-size: 35px;
}

.correct {
  color: lime
}

.incorrect {
  color: red
}

.highlighted {
  border-radius: 25px;
  background-color: darkgrey;
  
}