* {
  margin: 0;
  padding: 0;
}

.login__background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  animation: fade-in 3s forwards;
  font-family: 'Space Mono';
  line-height: 2.5;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  z-index: 1000;
}

.left-title,
.right-title {
  font-family: 'neon';
  font-size: 4.3rem;
  z-index: 9999;
  position: absolute;
  text-orientation: upright;
  writing-mode: vertical-lr;
  text-align: center;
  color: white;
}

.left-title {
  top: 2%;
  left: 1%;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 40px #ff0080,
    0 0 0 #ff0080, 0 0 44px #ff0080, 0 0 75px #ff0090;
  animation: left-neon 6s infinite;
  animation-delay: 0.5s;
}

.right-title {
  bottom: 2%;
  right: 1%;
  transform: scale(-1, 1);
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #01ffc3, 0 0 40px #01ffc3,
    0 0 0 #01ffc3, 0 0 44px #01ffc3, 0 0 75px #00c99a;
  animation: right-neon 6s infinite;
  animation-delay: 2s;
}

.login__form h1 {
  position: relative;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 4%;
}

.login__form h1::before {
  position: absolute;
  content: '';
  bottom: -10px;
  width: 50%;
  height: 10%;
  background: #01ffc3;
}

.headers__container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.input__container {
  width: 60%;
  margin-top: 4%;
  margin-right: 9%;
}

.login__form input {
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: 'Space Mono';
}

.login__form input::placeholder {
  color: white;
}

.login_btn {
  margin-top: 5%;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.login__error {
  font-size: 15px;
  margin-top: 3%;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px red, 0 0 40px red,
    0 0 0 red, 0 0 44px red, 0 0 75px red;
}

.login__question {
  margin-top: 6%;
}

.login__link {
  color: #ff0080;
}

.login__link:hover {
  color: rgb(237, 147, 255);
  text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
    0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
}

.login__loading {
  margin-top: 5%;
  font-size: 15px;
  text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px rgb(0, 255, 0), 0 0 40px rgb(0, 255, 0),
    0 0 0 rgb(0, 255, 0), 0 0 44px rgb(0, 255, 0), 0 0 75px rgb(0, 129, 0);
}


/* blue is CUBE, pink is BLUR */
.blue {
  position: relative;
}

.pink {
  position: absolute;
  z-index: -500;
  filter: blur(10px);
}

.blue,
.pink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  max-width: 50vw;
  height: 50vh;
  /* max-height: 50vh; */
  border-radius: 20px;
  overflow: hidden;
}

.blue::before,
.pink::before {
  position: absolute;
  content: '';
  height: 200%;
  width: 140%;
  background: linear-gradient(#01ffc3 20%, hotpink 80%);
  animation: glowing 6s infinite linear;
}

.blue::after {
  position: absolute;
  background: #000;
  content: '';
  border-radius: 18px;
  inset: 4px;
}

/* @keyframes glowing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes left-neon {
  0%,
  45%,
  55%,
  68%,
  100% {
    text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 40px #ff0080,
      0 0 0 #ff0080, 0 0 44px #ff0080, 0 0 75px #ff0090;
  }

  50%,
  60% {
    text-shadow: none;
  }
}

@keyframes right-neon {
  0%,
  45%,
  55%,
  68%,
  100% {
    text-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #01ffc3, 0 0 40px #01ffc3,
      0 0 0 #01ffc3, 0 0 44px #01ffc3, 0 0 75px #00c99a;
  }

  50%,
  60% {
    text-shadow: none;
  }
}
